<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pelisoftsolutions.hotelsamdariya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name="com.pelisoftsolutions.hotelsamdariya.ImageGallery"></activity>
        <activity android:name="com.pelisoftsolutions.hotelsamdariya.ChangePassword" />
        <activity android:name="com.pelisoftsolutions.hotelsamdariya.OtpVerification" />
        <activity android:name="com.pelisoftsolutions.hotelsamdariya.Dashboard" />
        <activity android:name="com.pelisoftsolutions.hotelsamdariya.ListActivity" />
        <activity
            android:name="com.pelisoftsolutions.hotelsamdariya.CategoryDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pelisoftsolutions.hotelsamdariya.BanuquetDetail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pelisoftsolutions.hotelsamdariya.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pelisoftsolutions.hotelsamdariya.Testimonials" />
        <activity
            android:name="com.pelisoftsolutions.hotelsamdariya.Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pelisoftsolutions.hotelsamdariya.HotelPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.pelisoftsolutions.hotelsamdariya.SignUp" />
        <activity android:name="com.pelisoftsolutions.hotelsamdariya.ForgotPassword" />
        <activity
            android:name="com.pelisoftsolutions.hotelsamdariya.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pelisoftsolutions.hotelsamdariya.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pelisoftsolutions.hotelsamdariya.HotelRoomPage"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>